body {
    padding: 0;
    margin: 0;
    background-image: url("/images/login.jpg");
}

.login_form {
    padding: 20px;
    position: absolute;
    top: 25%;
    right: 250px;
    width: 300px;
    /*border: 1px solid pink;*/
}

.msg {
    color: red;
}