.store{
    color: #666;
    border: 1px solid #e5e5e5;
    box-shadow: 0 5px 14px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}
.store:after{
    display: block;
    content: '';
    clear: both;
}
.store-text{
    width: 65%;
    float: left;
}
.store-name>h1, .store-name>p{
    display: inline-block;
}

.store-image{
    width: 30%;
    float: right;
    height: 170px;
    margin-top: 15px;
}

.store-image>img{
    width: 100%;
    height: 100%;
}

.goods{
    border: 1px solid #e5e5e5;
    box-shadow: 0 5px 14px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 10px;
}
.good{
    width: 100%;
    padding: 15px;
}
.good>div{
    border-top: 1px solid #e5e5e5;;
    height: 110px;
    padding: 10px 0 0 0;
}

.good>div>div{
    float: left;
}

.good-image{
    width: 110px;
    height: 100%;
}
.good-image>img{
    width: 100%;
    height: 100%;
}

.good-text{
    width: 700px;
    padding-left: 10px;
}

.good-text>div>*{
    display: inline-block;
}

.good-text>p{
    color: #f60;
}

.good-text>p>span{
    font-size: 30px;
}

.good-but{
    width: 170px;
    height: 100%;
}

.good-but>button{
    margin: 25px auto;
    width: 100px;
    display: block;
    border-radius: 20px;
}

.test{
    height: 60px;
}

.test>h3{
    float: left;
}

.test>button{
    float: right;
    margin-top: 15px;
}